@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #f1d8c9, #f2c3a7);
}

main {
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 15px rgba(119, 94, 80, 0.698);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
color: #f39209;
text-align: center;
text-shadow: 1px 1px 2px black;
}

h2 {
 color: #125189
}

p {
    text-align: justify;
}